<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joymaker.kivytutorials">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_ALARM"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconkv"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".AlarmReceiver"></receiver>
        <activity android:name=".DetailExample"></activity>
        <activity android:name=".ExampleActivity" />
        <activity android:name=".DetailKivyDesignLanguageAcitvity" />
        <activity android:name=".KivyDesignLanguageActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9652455907097724~8649310702" /> <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <activity android:name=".DetailWidgetActivity" />
        <activity android:name=".DetailLayoutActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".WidgetsActivity" />
        <activity android:name=".LayoutsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>