<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="file:///android_asset/css/bootstrap.min.css">
    <link rel="stylesheet" href="file:///android_asset/css/style.css">
    <title>Grid Layout</title>
</head>
<body>
    <div class="container">
            
            <div class="row">
                    <div class="col-md-12">
                            <h2 class="text-center h2">Grid Layout</h2>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-12">
                                <div class="text-center mb-1">Модуль: <b>kivy.uix.gridlayout</b></div>
                        </div>
                    </div>
        <div class="row">
            <div class="col-md-12">
                <img  class="w-100"src="file:///android_asset/img/gridlayout.gif" alt="">
            </div>
        </div>
        <div class="row">
                <div class="col-md-12">
                    <div><b>Grid Layout</b> - это макет, который располагает виджеты в виде ячеек в таблице. Можно задать количество строк(rows) и количество столбцов(cols)</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="divider"></div>
                </div>
           </div> 
            <div class="row">
                    <div class="col-md-12">
                            <h3 class="text-center h3">Атрибуты</h3>
                    </div>
                </div>
            <div class="row">
                    <div class="col-md-12">
                            <div><b>cols</b> - задает количество столбцов.</div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                            <div><b>rows</b> - задает количество строк.</div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                            <div><b>col_default_width</b> - задает минимальну ширину в столбце по умолчанию.</div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                            <div><b>col_force_default</b> - принимает значение "True" или "False". Если значение "True", то столбец игнорирует ширину и атрибут <b>size_hint_x</b> виджета и использует по умолчанию ширину столбца. </div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                            <div><b>cols_minimum</b> - принимает в качестве значения словарь, где каждому столбцу можно присвоить минимальную ширину. Ключом будет номер столбца. </div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                            <div><b>row_default_height</b> - задает минимальныу высоту строки по умолчанию.</div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                            <div><b>row_force_default</b> - принимает значение "True" или "False". Если значение "True", то строка игнорирует высоту и атрибут <b>size_hint_y</b> у виджета и использует по умолчанию высоту строки. </div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                            <div><b>rows_minimum</b> - принимает в качестве значения словарь, где каждой строке можно присвоить минимальную высоту. Ключом будет номер строки. </div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                            <div><b>padding</b> - внутренние отступы. Принимает список значений в пискелях "[padding_left, padding_top, padding_right, padding_bottom]".Так же можно назначить отступ по горизонтали и вертикали "[padding_horizontal, padding_vertical]" или одинаковое значение отступов со всех сторон "[padding]".</div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                            <div><b>spacing</b> - расстояние между виджетами. Принимает список значений в пискелях по горизонтали и вертикали "[spacing_horizontal, spacing_vertical]". Так же можно задачть только одно значение "[spacing]", которое будет применяться по горизонтали и вертикали.</div>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="divider"></div>
                </div>
           </div> 
            <div class="row">
                    <div class="col-md-12">
                            <h3 class="text-center h3">Методы</h3>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-12">
                                <div><b>add_widget(widget)</b> - добавляет виджет в макет.</div>
                        </div>
                </div>
                <div class="row">
                        <div class="col-md-12">
                                <div><b>remove_widget(widget)</b> - удаляет виджет с макета.</div>
                        </div>
                </div>
                <div class="row">
                        <div class="col-md-12">
                            <div class="divider"></div>
                        </div>
                   </div>                
                <div class="row">
                        <div class="col-md-12">
                                <h3 class="text-center h3">Пример</h3>
                        </div>
                    </div>
                <div class="row">
                        <div class="col-md-12">
                                <div>Создадим макет <b>Grid Layout</b> и установим размер столбцов (cols) в значение 2. Добавим в макет четыре кнопки:</div>
                        </div>
                </div>
                <div class="row">
                        <div class="col-md-12">
                                <div class="code">
                                        <div><span class="keywords">from</span> kivy.app <span class="keywords">import</span> App</div>
                                        <div><span class="keywords">from</span> kivy.uix.gridlayout <span class="keywords">import</span> GridLayout</div>
                                        <div><span class="keywords">from</span> kivy.uix.button <span class="keywords">import</span> Button</div><br>
                                        
                                        <div><span class="classanddef">class</span> <span class="nameclass">GridLayoutApp</span>(<span class="nameclass">App</span>):</div>
                                        <div>&nbsp;&nbsp;&nbsp;&nbsp;<span class="classanddef">def</span> <span class="namemethod">build</span>(<span class="attr">self</span> ):</div>
                                        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;gl = GridLayout(<span class="attr">cols</span>= <span class="namemethod">2</span> )</div>
                                        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;btn = Button(<span class="attr">text</span> = <span class="val">'Кнопка'</span> )</div>
                                        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;btn2 = Button(<span class="attr">text</span> = <span class="val">'Кнопка2'</span> )</div>
                                        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;btn3 = Button(<span class="attr">text</span> = <span class="val">'Кнопка3'</span> )</div>
                                        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;btn4 = Button(<span class="attr">text</span> = <span class="val">'Кнопка4'</span> )</div>
                                        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;gl.add_widget(btn)</div>
                                        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;gl.add_widget(btn2)</div>
                                        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;gl.add_widget(btn3)</div>
                                        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;gl.add_widget(btn4)</div>
                                        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="keywords">return</span> gl</div><br>

                                        <div><span class="keywords">if</span> <span class="attr">__name__</span> == <span class="val">'__main__'</span>:</div>
                                        <div>&nbsp;&nbsp;&nbsp;&nbsp;GridLayoutApp().run() </div>     
                                </div>
                        </div>
                </div>
                <div class="row">
                        <div class="col-md-12">
                                <div>Результат:</div>
                        </div>
                </div>
                <div class="row">
                        <div class="col-md-12">
                                <img src="file:///android_asset/img/gridlayoutexample.jpg" alt="" class="w-100 mb-1">
                        </div>
                </div>
                <div class="row">
                        <div class="col-md-12">
                                <div class="mb-2">Как вы заметили мы здесь не меняли у кнопок атрибут <b>size_hint</b> .По умолчание <b>size_hint</b> = "(1,1)", что означает по ширине и высоте 100%. При таком значении в данном макете кнопка будет растягиваться на всю ячеейку.</div>
                        </div>
                </div>
            
        
    </div>
</body>
</html>